@background-light: #f6f6f6;
@background-dark: #2F2555;

@color-light: #0f0f0f;
@color-dark: #f8f7f7;


// Accent Color Light
@accent-color-light-light: #8C69B1;
@accent-color-light-dark: #8C69B1;


// Accent Color Bold
@accent-color-bold-light: #5F41B9;
@accent-color-bold-dark: #5F41B9;


// Input
@input-background-light: @accent-color-light-light;
@input-background-dark: @accent-color-light-dark;

@input-color-light: @color-dark;
@input-color-dark: @color-dark;

@input-placeholder-color-light: rgba(0, 0, 0, 0.6);
@input-placeholder-color-dark: rgba(255,255,255,0.7);

// Button
@button-color-light: @color-light;
@button-color-dark: @color-dark;

@button-background-light: @color-dark;
@button-background-dark: @accent-color-bold-dark;

@button-disabled-background-light: lighten(@color-dark, 10%);
@button-disabled-background-dark: lighten(@accent-color-bold-dark, 10%);

@button-hover-color-light: darken(@accent-color-bold-light, 10%);
@button-hover-color-dark: lighten(@accent-color-bold-dark, 12%);


// Glyphs
@glyph-image-background-light: @background-dark;
@glyph-image-background-dark: @background-dark;

@glyph-image-border-var: var(--accent-color-bold-light);
@glyph-image-border-light: @accent-color-bold-light;
@glyph-image-border-dark: @accent-color-bold-dark;

// Logger Bubble
@logger-bubble-background-color-dark: #b2aae3;
@logger-bubble-background-color-light: @logger-bubble-background-color-dark;

@logger-bubble-text-color-dark: #350d4f;
@logger-bubble-text-color-light: @logger-bubble-text-color-dark;