@import "_constants.less";
@import "_colors.less";
@import "_flex.less";

.logger-bubble {
  position: absolute;
  display: block;
  background: @logger-bubble-background-color-dark;
  background: var(--logger-bubble-background-color);
  //noinspection ALL
  color: @logger-bubble-text-color-dark;
  //noinspection ALL
  color: var(--logger-bubble-text-color);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index:10;
  padding: 0.2rem 1rem;
  margin: 0;
  min-width: 25em;
  max-width: 38em;
  white-space: nowrap;
  max-height: 2.3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-overflow: ellipsis;
  top: 6em;
}


#compile-egg-form > .logger-bubble-container {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  ._flex-row();
  .flex-row-align-center();
  .flex-row-align-middle();
  .flex-row-align-top();
  top: 0;
  right: 0;
  z-index: 10;

  //noinspection ALL
  .logger-bubble {
    margin: 0;
    border-radius: 0;
    border-bottom-right-radius: @border-radius;
    border-bottom-right-radius: var(--border-radius);

    border-bottom-left-radius: @border-radius;
    border-bottom-left-radius: var(--border-radius);
  }
}

@logger-bubble-height: 2rem;
//noinspection ALL
.header-right > .logger-bubble {
  height: (@logger-bubble-height * 0.9);
  overflow: hidden;
  white-space: nowrap;
  line-height:(@logger-bubble-height * 0.74);
  border-top-left-radius: @border-radius;
  border-top-left-radius: var(--border-radius);

  border-bottom-left-radius: @border-radius;
  border-bottom-left-radius: var(--border-radius);
}


#logger-bubble {

}

.hide-logger {
  visibility: hidden !important;
}