body[data-theme='dark'] {
  --background: #2F2555;
  --color: #f8f7f7;
  --accent-color-bold: #5F41B9;
  --accent-color-light: #6d4982;
  --input-background: #6d4982;
  --input-color: #f8f7f7;
  --input-placeholder-color: rgba(255, 255, 255, 0.77);
  --button-color: #f8f7f7;
  --button-background: #5F41B9;
  --button-hover-color: #846ccb;
  --button-disabled-background: #7d64c9;
  --glyph-image-background: #2F2555;
  --glyph-image-border: #5F41B9;
  --logger-bubble-text-color: #291D34;
  --logger-bubble-background-color: #B3B3DB;
  --go-button-background-color: #5F41B9;
  --go-button-text-color: #f6f6f6;
  --go-button-hover-text-color: #FFF;
  --go-button-hover-background-color: #3a7e11;
  --cancel-button-text-color: #e1dede;
  --cancel-button-background-color: #523761;
  --cancel-button-hover-text-color: #FFF;
  --cancel-button-hover-background-color: #6d4982;
  --warning-text-color: var(#FFF);
  --warning-background-color: #b68105;
  --page-button-unfocused-error-background-color: transparent;
}
html {
  --background: #2F2555;
  --color: #f8f7f7;
  --accent-color-bold: #5F41B9;
  --accent-color-light: #6d4982;
  --input-background: #6d4982;
  --input-color: #f8f7f7;
  --input-placeholder-color: rgba(255, 255, 255, 0.77);
  --button-color: #f8f7f7;
  --button-background: #5F41B9;
  --button-hover-color: #846ccb;
  --button-disabled-background: #7d64c9;
  --glyph-image-background: #2F2555;
  --glyph-image-border: #5F41B9;
  --logger-bubble-text-color: #291D34;
  --logger-bubble-background-color: #B3B3DB;
  --go-button-background-color: #5F41B9;
  --go-button-text-color: #f6f6f6;
  --go-button-hover-text-color: #FFF;
  --go-button-hover-background-color: #3a7e11;
  --cancel-button-text-color: #e1dede;
  --cancel-button-background-color: #523761;
  --cancel-button-hover-text-color: #FFF;
  --cancel-button-hover-background-color: #6d4982;
  --warning-text-color: var(#FFF);
  --warning-background-color: #b68105;
  --page-button-unfocused-error-background-color: transparent;
  --border-radius: 4px;
  --page-button-focused-background-color: var(--accent-color-bold);
  --page-button-unfocused-background-color: transparent;
  --page-button-focused-border-color: var(--accent-color-bold);
  --page-button-unfocused-border-color: var(--page-button-focused-background-color);
  --page-button-focused-error-background-color: var(--error-color-darker);
  --page-button-focused-error-border-color: var(--error-color-lighter);
  --page-button-unfocused-error-border-color: var(--page-button-focused-error-border-color);
  --page-button-focused-complete-background-color: var(--success-color-darker);
  --page-button-unfocused-complete-background-color: transparent;
  --page-button-focused-complete-border-color: var(--success-color-lighter);
  --page-button-unfocused-complete-border-color: var(--success-color-darker);
}
body[data-theme='light'] html {
  --background: #f6f6f6;
  --color: #0f0f0f;
  --accent-color-bold: #5F41B9;
  --accent-color-light: #6d4982;
  --input-background: #6d4982;
  --input-color: #f8f7f7;
  --input-placeholder-color: rgba(0, 0, 0, 0.6);
  --button-color: #0f0f0f;
  --button-background: #f8f7f7;
  --button-hover-color: #4c3493;
  --button-disabled-background: #ffffff;
  --glyph-image-background: #2F2555;
  --glyph-image-border: #5F41B9;
  --logger-bubble-text-color: #291D34;
  --logger-bubble-background-color: #B3B3DB;
  --go-button-background-color: #5F41B9;
  --go-button-text-color: #e7e7e7;
  --go-button-hover-text-color: #FFF;
  --go-button-hover-background-color: #3a7e11;
  --cancel-button-text-color: #f5f4f4;
  --cancel-button-background-color: #523761;
  --cancel-button-hover-text-color: #FFF;
  --cancel-button-hover-background-color: accent-color-light-light;
  --warning-text-color: var(#FFF);
  --warning-background-color: orange;
  --page-button-unfocused-error-background-color: transparent;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #2F2555;
  background: var(--background);
  color: #f8f7f7;
  color: var(--color);
  font-size: 16px;
}
html,
body,
#compile-egg-form {
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.screen-reader-only {
  position: fixed;
  left: -1000%;
  height: 1px;
  width: 1px;
}
.hidden,
[hidden] {
  display: none !important;
}
._flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-align-bottom {
  align-items: end;
}
.flex-row-align-middle {
  align-items: center;
}
.flex-row-align-left {
  justify-content: start;
}
.flex-row-align-right {
  justify-content: end;
}
.flex-row-align-center {
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column.flex-align-top {
  justify-content: start;
}
.flex-column.flex-align-bottom {
  justify-content: end;
}
.flex-column.flex-align-middle {
  justify-content: center;
}
.flex-column.flex-align-left {
  align-items: start;
}
.flex-column.flex-align-right {
  align-items: end;
}
.flex-column.flex-align-center {
  align-items: center;
}
.flex-column > .flex-fill {
  flex: 0 1 auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row.flex-align-top {
  align-items: start;
}
.flex-row.flex-align-bottom {
  align-items: end;
}
.flex-row.flex-align-middle {
  align-items: center;
}
.flex-row.flex-align-left {
  justify-content: start;
}
.flex-row.flex-align-right {
  justify-content: end;
}
.flex-row.flex-align-center {
  justify-content: center;
}
.flex-row > .flex-fill {
  flex: 1;
}
.compilation-report {
  width: 100%;
}
.compilation-report {
  position: relative;
  display: flex;
  flex-direction: column;
}
dialog.compilation-report.compilation-report-floating {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 80vh;
  z-index: 100;
  color: #f8f7f7;
  color: var(--color);
  background: #2F2555;
  background: var(--background);
  border-radius: 4px;
  border-radius: var(--border-radius);
}
dialog.compilation-report.compilation-report-floating::backdrop {
  content: ' ';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}
dialog.compilation-report.compilation-report-floating[hidden] {
  display: none !important;
}
dialog.compilation-report.compilation-report-floating .compilation-report {
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background: #2F2555;
  background: var(--background);
}
.compilation-report .compilation-report-items {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.compilation-report .compilation-report-items table {
  border-collapse: collapse;
}
.compilation-report .compilation-report-items table thead {
  border-bottom: 2px solid #f8f7f7;
  border-bottom: 2px solid var(--color);
}
.compilation-report .compilation-report-items table tbody tr {
  border-bottom: 2px solid #f8f7f7;
  border-bottom: 2px solid var(--color);
}
.compilation-report .compilation-report-items table tr > th,
.compilation-report .compilation-report-items table tr > td {
  min-width: 4rem;
  position: relative;
}
.compilation-report .compilation-report-items table tr > .verify-sprites-header,
.compilation-report .compilation-report-items table tr > .verify-sprites-value {
  text-align: right;
  padding-right: 1rem;
  border-right: 2px solid #f8f7f7;
  border-right: 2px solid var(--color);
}
.compilation-report .compilation-report-items table tr > .verify-att-header,
.compilation-report .compilation-report-items table tr > .verify-atts-value {
  text-align: left;
  padding-left: 1rem;
}
.compilation-report .compilation-report-items table tr > .verify-sprites-value .missing-text::before,
.compilation-report .compilation-report-items table tr > .verify-atts-value .missing-text::before {
  display: block;
  content: 'missing';
  font-size: 0.83em;
  line-height: 0.8em;
  vertical-align: super;
}
.compilation-report .compilation-report-items table tr > .verify-sprites-value .has-text,
.compilation-report .compilation-report-items table tr > .verify-atts-value .has-text {
  display: none;
}
.compilation-report .compilation-report-items table tbody tr td > img {
  margin: 0;
  width: 2rem;
}
.compilation-report footer {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
input,
button,
select {
  border-radius: 4px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f8f7f7;
  color: var(--input-color);
  height: 2.3rem;
  background-color: #6d4982;
  background: var(--input-background);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
input,
button,
select {
  outline: none;
}
.invisible-input-button {
  pointer-events: none;
}
.input-field {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.input-field input,
.input-field button,
.input-field select {
  height: 2.3rem;
}
.input-field input[disabled] {
  color: #f8f7f7 !important;
  color: var(--color) !important;
}
.input-field input {
  flex: 0 1 auto;
  width: 100%;
}
.input-field.short input,
.input-field.short button,
.input-field.short select {
  height: 1.6rem;
}
.input-group {
  position: relative;
}
.input-group > * {
  margin: 0;
  border-radius: 0;
}
.input-group > *:first-child {
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: 4px;
  border-top-left-radius: var(--border-radius);
}
.input-group > *:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: 4px;
  border-top-right-radius: var(--border-radius);
}
.input-field img,
img.button-icon,
svg.button-icon {
  fill: #FFFFFF;
  filter: brightness(100%);
  width: 1.5rem;
  height: 1.5rem;
}
.input-field.short img {
  margin-top: -0.6rem;
}
input[type="text"].path-display,
input[type="text"].path-display[disabled] {
  color: #f8f7f7 !important;
  color: var(--color) !important;
}
.input-button {
  width: 5rem;
  min-width: 5rem;
  background: #5F41B9;
  background: var(--button-background);
  color: #f8f7f7;
  color: var(--button-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.refresh-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(calc -101%);
  width: 2.3rem;
  height: 2.3rem;
  background: transparent;
  position: absolute;
  right: 5rem;
  z-index: 2;
  border: none !important;
  opacity: 0.8;
}
.refresh-button img {
  max-height: 100%;
}
body:not([data-has-project-root="true"]) #refresh-project-folders-button {
  display: none;
}
.att-cancel-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(calc -101%);
  width: 2.3rem;
  height: 2.3rem;
  background: transparent;
  position: absolute;
  right: 5rem;
  z-index: 2;
  border: none !important;
  opacity: 0.8;
  right: 7.5rem;
}
.att-cancel-button img {
  max-height: 100%;
}
input:placeholder-shown ~ .att-cancel-button {
  display: none !important;
}
input:placeholder-shown ~ .refresh-button {
  display: none !important;
}
button {
  cursor: pointer;
  color: #f8f7f7;
  color: var(--button-color);
  background: #5F41B9;
  background: var(--button-background);
  transition: background-color 200ms, color 200ms;
}
button:hover {
  background: #846ccb;
  background: var(--button-hover-color);
}
.font-icon-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #5F41B9;
  background: var(--button-background);
}
.font-icon-button > span {
  color: #f8f7f7;
  color: var(--button-color);
  text-align: center;
}
.cancel-button {
  background: #523761;
  background: var(--cancel-button-background-color);
  color: #e1dede;
  color: var(--cancel-button-text-color);
}
.cancel-button:hover {
  background: #6d4982;
  background: var(--cancel-button-hover-background-color);
  color: #FFF;
  color: var(--cancel-button-text-hover-color);
}
.go-button {
  background: #5F41B9;
  background: var(--go-button-background-color);
  color: #f6f6f6;
  color: var(--go-button-text-color);
}
.go-button:hover {
  background: #3a7e11;
  background: var(--go-button-hover-background-color);
  color: #FFF;
  color: var(--go-button-text-hover-color);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
:-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
:-ms-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
.input-placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
.input-with-prefix-label {
  height: 2.3rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-with-prefix-label > * {
  margin: 0;
  height: 100%;
}
.input-with-prefix-label > label {
  border-top-left-radius: 4px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: var(--border-radius);
  margin: 0;
  height: 100%;
  background: #5F41B9;
  background: var(--button-background);
  padding: 0.4rem 1rem;
}
.input-with-prefix-label input::placeholder {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
.input-with-prefix-label > input {
  flex: 1;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: var(--border-radius);
}
input[data-placeholder] {
  position: relative;
}
input[data-placeholder]:not(:focus)::after {
  content: attr(data-placeholder);
  position: absolute;
  left: 0;
  top: 0;
}
select {
  text-decoration: none;
  -webkit-appearance: none;
}
.select-container {
  position: relative;
  flex: 0 1 auto;
  border-radius: 4px;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.select-container > * {
  height: 2.3rem;
}
.select-container select {
  width: 100%;
  flex: 1;
}
.select-container select:not([data-has-selecection='true']) {
  color: rgba(255, 255, 255, 0.77);
  color: var(--input-placeholder-color);
}
.select-container select ~ .dropdown-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  position: absolute;
  right: 0;
  border-top-right-radius: 4px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: var(--border-radius);
}
.select-container select ~ .dropdown-icon > img {
  width: 1.5rem;
}
#compile {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 10rem;
}
#compile[disabled] {
  pointer-events: none;
  opacity: 0.7;
  background: #7d64c9;
  background: var(--button-disabled-background);
}
#compile span {
  text-align: center;
  flex: 1;
}
#compile img#compiling-spinner {
  position: absolute;
  right: -0.5rem;
  display: inline;
  width: 60px;
  height: 60px;
}
body[data-compiling='true'] .hide-on-compile {
  display: none !important;
}
body:not([data-compiling='true']) .hide-on-not-compiling {
  display: none !important;
}
.glyph {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.glyph > h3 {
  margin: 0;
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  flex: 0 1 auto;
}
.glyph .glyph-main {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
}
.glyph .glyph-main .glyph-preview-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-radius: var(--border-radius);
  width: 5.1rem;
  height: 5.1rem;
  background: #5F41B9;
  background: var(--glyph-image-border);
}
.glyph .glyph-main .glyph-preview-container > img {
  pointer-events: none;
  width: 3.75rem;
  background: #2F2555;
  background: var(--glyph-image-background);
  border-radius: 4px;
}
.glyph .glyph-main .glyph-preview-container > img.placeholder {
  opacity: 70%;
  width: 34px;
  background: transparent;
}
.glyph .glyph-main > .glyph-inputs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1em;
}
.glyph .glyph-main > .glyph-inputs-container > .glyph-filename-input {
  margin-top: 0.5rem;
}
#debug-logger-panel,
.logging-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #2F2555;
  background: var(--background);
  z-index: 8000;
  overflow: auto;
}
#debug-logger-panel > .log-entry,
.logging-panel > .log-entry {
  color: #EEE;
}
#debug-logger-panel > .log-error,
.logging-panel > .log-error {
  background: #a23838;
}
#debug-logger-panel > .log-warn,
.logging-panel > .log-warn,
#debug-logger-panel > .log-warning,
.logging-panel > .log-warning {
  background: #ab6e10;
}
.show-log-button-container {
  position: fixed;
  right: 0;
  bottom: 0;
}
.show-log-button-container > #show-log-button {
  transition: background 400ms, box-shadow 400ms;
  padding: 0.1rem;
  width: auto;
  height: 1.5rem;
  text-align: right;
}
.show-log-button-container > #show-log-button:not(:hover) {
  background: transparent;
  box-shadow: none;
}
.logger-bubble {
  display: block;
  background: #B3B3DB;
  background: var(--logger-bubble-background-color);
  color: #291D34;
  color: var(--logger-bubble-text-color);
  word-wrap: break-word;
  max-height: 2.3rem;
  overflow-y: hidden;
  z-index: 10;
  padding: 0.2rem 1rem;
  text-align: left;
  max-width: 28.5rem;
  margin: 0;
}
#compile-egg-form > .logger-bubble-container {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: start;
  top: 0;
  right: 0;
  z-index: 10;
}
#compile-egg-form > .logger-bubble-container .logger-bubble {
  margin: 0;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: var(--border-radius);
}
.header-right > .logger-bubble {
  height: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.48rem;
  border-top-left-radius: 4px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: var(--border-radius);
}
.hide-logger {
  visibility: hidden !important;
}
html,
body {
  width: 100vw;
  min-width: 60em;
  height: 100vh;
  min-height: 33em;
}
#compile-egg-form {
  max-width: 60em;
  max-height: 33em;
  min-width: 60em;
  min-height: 33em;
}
#compile-egg-form {
  position: relative;
  padding: 0.5em 1rem 1rem;
  overflow: hidden;
  background: transparent;
  background: #2F2555;
  background: var(--background);
}
.header {
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header > .header-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: end;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  height: 6.6rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}
header > img {
  height: 4.5rem;
  -webkit-backface-visibility: hidden;
  --webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}
.main-panel {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding: 1em;
  margin-top: 1rem;
  border: 1px solid #f8f7f7;
  border: 1px solid var(--color);
  border-radius: 4px;
  border-radius: var(--border-radius);
}
.main-panel.no-outline {
  border: none !important;
}
.main-panel:not(:last-child) {
  margin-right: 0.5rem;
}
.main-panel:not(:first-child) {
  margin-left: 0.5rem;
}
.main-panel > * {
  margin-bottom: 0.7em;
}
.main-panel > *:last-child {
  margin-bottom: 0;
}
.main-panel.root-row {
  margin-left: 0;
  margin-right: 0;
}
.root-row .main-panel {
  width: 50%;
}
#genome-inputs {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-items: start;
}
#genome-inputs > .genome-input-group {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 60em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-height: 33em) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#page-select .page-button {
  position: relative;
  background: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7rem;
  border: none;
  box-shadow: none;
  margin: 2rem 0 0;
}
#page-select .page-button.flex-align-top {
  justify-content: start;
}
#page-select .page-button.flex-align-bottom {
  justify-content: end;
}
#page-select .page-button.flex-align-middle {
  justify-content: center;
}
#page-select .page-button.flex-align-left {
  align-items: start;
}
#page-select .page-button.flex-align-right {
  align-items: end;
}
#page-select .page-button.flex-align-center {
  align-items: center;
}
#page-select .page-button > .flex-fill {
  flex: 0 1 auto;
}
#page-select .page-button > .page-button-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: color 600ms, background 600ms, border 600ms;
  animation-delay: 0ms;
  animation-duration: 100ms;
}
#page-select .page-button > .page-button-number.flex-align-top {
  justify-content: start;
}
#page-select .page-button > .page-button-number.flex-align-bottom {
  justify-content: end;
}
#page-select .page-button > .page-button-number.flex-align-middle {
  justify-content: center;
}
#page-select .page-button > .page-button-number.flex-align-left {
  align-items: start;
}
#page-select .page-button > .page-button-number.flex-align-right {
  align-items: end;
}
#page-select .page-button > .page-button-number.flex-align-center {
  align-items: center;
}
#page-select .page-button > .page-button-number > .flex-fill {
  flex: 0 1 auto;
}
@keyframes error-pop {
  0% {
    transform: translateY(0);
    width: 4rem;
    height: 4rem;
  }
  50% {
    transform: translateY(-0.16rem);
    margin-bottom: -0.32rem;
    width: 4.32rem;
    height: 4.32rem;
  }
  100% {
    transform: translateY(0);
    width: 4rem;
    height: 4rem;
  }
}
body[data-current-page="1"] #page-select > [data-for-page="1"] > .page-button-number {
  background: #5F41B9;
  background: var(--page-button-focused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-focused-border-color);
}
body:not([data-current-page="1"]) #page-select > [data-for-page="1"] > .page-button-number {
  background: transparent;
  background: var(--page-button-unfocused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-unfocused-border-color);
}
body[data-current-page="1"][data-page-1-status="error"] #page-select > [data-for-page="1"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-focused-error-border-color);
  background: #7c3030;
  background: var(--page-button-focused-error-background-color);
  animation-name: error-pop;
}
body[data-page-1-status="error"] #page-select > [data-for-page="1"] > .page-button-number {
  animation-name: error-pop;
}
body:not([data-current-page="1"])[data-page-1-status="error"] #page-select > [data-for-page="1"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-unfocused-error-border-color);
  background: transparent;
  background: var(--page-button-unfocused-error-background-color);
}
body[data-current-page="1"][data-page-1-status="complete"] #page-select > [data-for-page="1"] > .page-button-number {
  border: 3px solid #1b981b;
  border: 3px solid var(--page-button-focused-complete-border-color);
  background: #337533;
  background: var(--page-button-focused-complete-background-color);
}
body:not([data-current-page="1"])[data-page-1-status="complete"] #page-select > [data-for-page="1"] > .page-button-number {
  animation: ease-in-out;
  border: 3px solid #337533;
  border: 3px solid var(--page-button-unfocused-complete-border-color);
  background: transparent;
  background: var(--page-button-unfocused-complete-background);
}
body[data-current-page="2"] #page-select > [data-for-page="2"] > .page-button-number {
  background: #5F41B9;
  background: var(--page-button-focused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-focused-border-color);
}
body:not([data-current-page="2"]) #page-select > [data-for-page="2"] > .page-button-number {
  background: transparent;
  background: var(--page-button-unfocused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-unfocused-border-color);
}
body[data-current-page="2"][data-page-2-status="error"] #page-select > [data-for-page="2"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-focused-error-border-color);
  background: #7c3030;
  background: var(--page-button-focused-error-background-color);
  animation-name: error-pop;
}
body[data-page-2-status="error"] #page-select > [data-for-page="2"] > .page-button-number {
  animation-name: error-pop;
}
body:not([data-current-page="2"])[data-page-2-status="error"] #page-select > [data-for-page="2"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-unfocused-error-border-color);
  background: transparent;
  background: var(--page-button-unfocused-error-background-color);
}
body[data-current-page="2"][data-page-2-status="complete"] #page-select > [data-for-page="2"] > .page-button-number {
  border: 3px solid #1b981b;
  border: 3px solid var(--page-button-focused-complete-border-color);
  background: #337533;
  background: var(--page-button-focused-complete-background-color);
}
body:not([data-current-page="2"])[data-page-2-status="complete"] #page-select > [data-for-page="2"] > .page-button-number {
  animation: ease-in-out;
  border: 3px solid #337533;
  border: 3px solid var(--page-button-unfocused-complete-border-color);
  background: transparent;
  background: var(--page-button-unfocused-complete-background);
}
body[data-current-page="3"] #page-select > [data-for-page="3"] > .page-button-number {
  background: #5F41B9;
  background: var(--page-button-focused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-focused-border-color);
}
body:not([data-current-page="3"]) #page-select > [data-for-page="3"] > .page-button-number {
  background: transparent;
  background: var(--page-button-unfocused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-unfocused-border-color);
}
body[data-current-page="3"][data-page-3-status="error"] #page-select > [data-for-page="3"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-focused-error-border-color);
  background: #7c3030;
  background: var(--page-button-focused-error-background-color);
  animation-name: error-pop;
}
body[data-page-3-status="error"] #page-select > [data-for-page="3"] > .page-button-number {
  animation-name: error-pop;
}
body:not([data-current-page="3"])[data-page-3-status="error"] #page-select > [data-for-page="3"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-unfocused-error-border-color);
  background: transparent;
  background: var(--page-button-unfocused-error-background-color);
}
body[data-current-page="3"][data-page-3-status="complete"] #page-select > [data-for-page="3"] > .page-button-number {
  border: 3px solid #1b981b;
  border: 3px solid var(--page-button-focused-complete-border-color);
  background: #337533;
  background: var(--page-button-focused-complete-background-color);
}
body:not([data-current-page="3"])[data-page-3-status="complete"] #page-select > [data-for-page="3"] > .page-button-number {
  animation: ease-in-out;
  border: 3px solid #337533;
  border: 3px solid var(--page-button-unfocused-complete-border-color);
  background: transparent;
  background: var(--page-button-unfocused-complete-background);
}
body[data-current-page="4"] #page-select > [data-for-page="4"] > .page-button-number {
  background: #5F41B9;
  background: var(--page-button-focused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-focused-border-color);
}
body:not([data-current-page="4"]) #page-select > [data-for-page="4"] > .page-button-number {
  background: transparent;
  background: var(--page-button-unfocused-background-color);
  border: 3px solid #5F41B9;
  border: 3px solid var(--page-button-unfocused-border-color);
}
body[data-current-page="4"][data-page-4-status="error"] #page-select > [data-for-page="4"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-focused-error-border-color);
  background: #7c3030;
  background: var(--page-button-focused-error-background-color);
  animation-name: error-pop;
}
body[data-page-4-status="error"] #page-select > [data-for-page="4"] > .page-button-number {
  animation-name: error-pop;
}
body:not([data-current-page="4"])[data-page-4-status="error"] #page-select > [data-for-page="4"] > .page-button-number {
  border: 3px solid #d24545;
  border: 3px solid var(--page-button-unfocused-error-border-color);
  background: transparent;
  background: var(--page-button-unfocused-error-background-color);
}
body[data-current-page="4"][data-page-4-status="complete"] #page-select > [data-for-page="4"] > .page-button-number {
  border: 3px solid #1b981b;
  border: 3px solid var(--page-button-focused-complete-border-color);
  background: #337533;
  background: var(--page-button-focused-complete-background-color);
}
body:not([data-current-page="4"])[data-page-4-status="complete"] #page-select > [data-for-page="4"] > .page-button-number {
  animation: ease-in-out;
  border: 3px solid #337533;
  border: 3px solid var(--page-button-unfocused-complete-border-color);
  background: transparent;
  background: var(--page-button-unfocused-complete-background);
}
body:not([data-view='advanced']) #page-select {
  display: none !important;
}
main {
  position: relative;
  width: 100%;
  overflow-y: auto;
}
.page {
  transition: opacity 400ms, left 400ms;
  flex: 1 1 auto;
}
body:not([data-current-page="1"]) main > [data-page="1"] {
  display: none !important;
}
body:not([data-current-page="2"]) main > [data-page="2"] {
  display: none !important;
}
@media (prefers-reduced-motion) {
  .page {
    transition: none;
  }
}
#page-select {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
/*# sourceMappingURL=style.css.map */