@import "colors.less";

//noinspection CssOverwrittenProperties
html, body {
  margin: 0;
  padding: 0;
  background: @background-dark;
  background: var(--background);
  color: @color-dark;
  color: var(--color);
  font-size: @base-font-size;
}

html, body, #compile-egg-form {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}


:root {
  .font();
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


.screen-reader-only {
  position: fixed;
  left: -1000%;
  height: 1px;
  width: 1px;
}

.hidden, [hidden] {
  display: none !important;
}


@import "flex.less";

@import "compile_report.less";

@import "controls.less";

@import "logger_panel.less";

@import "layout.less";

@import "_pages.less";